*{
    padding: 0;
    margin: 0;
}

.modal{
    background-color: #ffffff;
    height: 300px;
    width: 280px;
    border-radius: 20px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 2px 2px 2px #c0c0c0;
    

}
body{
    background-image: url("../assents/transferir.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

#logo-img{
    height:60px;
    width: 270px;
    
   
}
input{
    height: 30px;
    width: 185px;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 2px 1px  #ccc;
   
}
button{
    height: 30px;
    width: 100px;
    border-radius: 7px;
    border: none;
    background-color:#0c049f;
    color: #ffffff;

}
.caixa-butoes{
    height:190px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}